@font-face {
  font-family: "Goyang";
  src: url("fonts/Goyang.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
body * {
  font-family: Goyang;
}
body.dark {  
  --font-color:white;
  --bg-color:#000;
  color: var(--font-color);
  background-color: var(--bg-color);
  }
body.light {
  --font-color:#000;
  --bg-color:white;
  color: var(--font-color);
  background-color: var(--bg-color);
}
body{
  --loader-color:#000;
  height: 100vh;
  margin: 10px;
  transition: all 0.2s ease-in-out;
  padding:5px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#App {
  height: 100vh;
  margin: 0 auto;
  max-width: 1200px;
  column-gap: 1.5em;
}
.SearchResult {
  display: grid;
  margin-top: 10px;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 20px;
}

.SearchResult img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SearchResult .item {
  display: inline-block;
  width: 100%;
  margin: 0 0 1em;
  position: relative;
  cursor: pointer;
  background-color: #eee;
}
.SearchResult .hover-name{
  display: none;
  width: 100%;
  height: 100%;  
  position:absolute;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);  
  color:white;
  font-size: 35px;
  text-align: center;
}
.SearchResult .item:hover .hover-name{
  display: block;
}
.SearchResult .noResult-comment{
  height: 60px;
  position: fixed;
  left: 40%;
  top: 40%;
  font-size: 35px;
  color: var(--font-color)
}
.inputBtn-Wapper {
  display:flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.inputBtn-Wapper .SearchInput  {
  width: 70%;
  font-size: 40px;
  padding: 10px 15px;
  color:var(--font-color);
  background-color: var(--bg-color);
  border: 1px solid var(--font-color);
}
.inputBtn-Wapper .randomBtn{
  width: 20%;
  padding: 10px 15px;
  font-size: 35px;
  color:var(--font-color);
  cursor: pointer;
  background-color: var(--bg-color);
  border: 1px solid var(--font-color);
}
.ImageInfo {  
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  transition: visibility 0.5s;
  animation: fade-out 0.5s linear;
  -webkit-animation: fade-out 0.5s linear;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
}
.ImageInfo .title {
  display: flex;
  justify-content: space-between;
}

.ImageInfo .title,
.ImageInfo .description {
  padding: 5px;
}

.ImageInfo .content-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color);
  border: 5px solid var(--bg-color);
  border-radius: 5px;
}
.ImageInfo .info{
  height: 100%;
  overflow: auto;
  padding:5px;
}
.ImageInfo .content-wrapper img {
  width: 100%;
  max-height:80vh ;
  overflow: auto;
}

@media screen and (max-width: 992px) {
  .SearchResult{  grid-template-columns: repeat(3, minmax(250px, 1fr));}

}
@media screen and (max-width: 768px) {
  .SearchResult{  grid-template-columns: repeat(2, minmax(250px, 1fr));}
  .ImageInfo .content-wrapper {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
  }
}
@media screen and (max-width: 576px) {
  .SearchResult{  grid-template-columns: repeat(1, minmax(250px, 1fr));}

}
@media (prefers-color-scheme: dark) {
  body {
    --font-color:white;
    --bg-color:#000;
    color: var(--font-color);
    background-color: var(--bg-color);
  }

}
@media (prefers-color-scheme: light) {
  body {
    --font-color:#000;
    --bg-color:white;
    color: var(--font-color);
    background-color: var(--bg-color);
  }
}

.darkmode{
  margin:0px 0px 15px 15px;
}
.checkbox {
	opacity: 0;
}

.label {
	display: flex;
	width: 50px;
	height: 26px;
	background-color: rgb(132, 134, 153);
	border-radius: 50px;
	cursor: pointer;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	transform: scale(1.5);
}

.label .ball {
	width: 22px;
	height: 22px;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}
/* .isLoading-wapper .hidden {
  display: none;
} */
.isLoading-wapper{
  display: flex;
  z-index: 1;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}
.isLoading-wapper p{
  height: 60px;
  background-color: antiquewhite;
  border-radius: 50px;
  padding:10px;
  font-size: 35px;
  color: var(--loader-color)
}
.hidden {
  display: none;  
  visibility: hidden;
}
.show {
  visibility: visible;
  animation: fade-in 0.5s linear;
  -webkit-animation: fade-in 0.5s linear;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}